body{
margin:0;
font-family:Arial;
background:linear-gradient(120deg,#0f1c3f,#1E2A44,#D4A42C);
padding:30px;
}

header{
text-align:center;
color:white;
}

#buscar{
margin-top:20px;
padding:10px;
width:250px;
border-radius:6px;
border:none;
}

.filtros{
margin-top:30px;
text-align:center;
}

.filtros button{
margin:5px;
padding:10px 20px;
border:none;
background:#1E2A44;
color:white;
border-radius:6px;
cursor:pointer;
}

.catalogo{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.produto{
background:white;
padding:15px;
border-radius:12px;
text-align:center;
transition:.3s;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.produto:hover{
transform:translateY(-8px);
}

.produto img{
width:100%;
border-radius:10px;
}

.preco{
color:#D4A42C;
font-size:20px;
font-weight:bold;
}

.botao{
display:inline-block;
margin-top:10px;
padding:10px 15px;
background:#1E2A44;
color:white;
text-decoration:none;
border-radius:6px;
}
